@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
    height: 100vh;
}

.header{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}

.main-header{
    text-align: center;
    width: 50%;
}

h1 span{
    display: block;
    text-align: center;
    font-size: 2rem;
}

.header-1{
    font-weight: 200;
}

.header-2{
    font-weight: 700;
}

.main-header p{
    font-weight: 200;
    font-size: 1rem;
    word-spacing: 1px;
}

/* h1 span{
    font-weight: 700;
} */

.card-items{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 3rem;
}

.card-item{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 3.5rem;
    width: 350px;
    height: 250px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 5px 25px 0px hsla(229, 6%, 66%, 0.527);
}

.icon{
    justify-self: flex-end;
    align-self: flex-end;
}

.box1{
    grid-area: box1;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    border-top: 5px solid hsl(0, 78%, 62%);
}

.box2{
    grid-area: box2;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
    border-top: 5px solid hsl(180, 62%, 55%);
}

.box3{
    grid-area: box3;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 4;
    border-top: 5px solid hsl(212, 86%, 64%);
}

.box4{
    grid-area: box4;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 3;
    border-top: 5px solid hsl(34, 97%, 64%);
}


/* Media Queries */
@media (min-width: 320px) and (max-width: 800px){

    .main-header{
        width: 100%;
        padding: 10px;
    }

    h1 span{
        font-size: 1.5rem;
        padding: 2px;
    }

    .main-header p{
        padding: 10px;
        font-weight: 200;
        font-size: 1rem;
        word-spacing: 1px;
    }

    .card-items{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        place-items: center;
        gap: 1rem;
    }

    .card-item{
        padding: 20px;
        width: 300px;
    }

    .box1{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 2;
    }

    .box2{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .box3{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 4;
    }

    .box4{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }


}